@import "../../../style/presets";
@import "../../common/NoPhoto/NoPhoto";

.competition_card {
  cursor: pointer;

  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: 5px;
  padding: 1em;

  height: 14em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  transition: all 300ms;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 4px $gray-light;
  }

  &:hover &__title {
    color: $blue-accent;
  }

  &__title {
    font-size: 1.1em;
    transition: all 500ms;
  }

  &__emblem {
    align-self: flex-end;
    width: 8em;
    height: 8em;
    object-fit: contain;
  }

  .no_photo {
    align-self: flex-end;
  }

  &__country {
    font-size: 0.9em;
    font-weight: normal;
  }
}
