@import "../../../style/presets";

.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em;

  &__error_icon {
    width: 3em;
    height: 3em;

    path {
      fill: $orange-accent;
    }

    circle {
      fill: $orange-accent;
    }
  }

  &__text {
    margin-top: 1rem;
    font-weight: normal;
    font-size: 1.3em;
    text-align: center;
    max-width: 30rem;
  }
}
