@import "../../../style/presets";

.dates_filter {
  display: flex;

  &__filter_block, &__msg_block {
    margin: 4px 2em 0 0;
  }

  &__msg_block {
    font-size: 0.8em;
    color: $orange-accent;
    max-width: 17em;
  }

  &__title {
    display: inline-block;
    width: 1.5em;
  }

  &__date_field {
    margin-left: 0.5em;
    padding: 4px;
    outline: none;
    border: 1px solid $gray-light;
    border-radius: 3px;
  }
}

@media (max-width: $medium-width) {
  .dates_filter {
    flex-direction: column;
  }
}
