.competitions {

  > * + * {
    margin-top: 1em;
  }

  &__title {
    font-size: 1.5em;
    margin-top: 1.5em;
  }

  &__cards_block {
    list-style-type: none;

    li + li {
      margin-top: 0.5em;
    }
  }
}
